# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Coverage reports
coverage/

# IDEs
.vscode/
.idea/

# Optional: database
*.sqlite


/src/generated/prisma
